.footer {
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #e4e4e7;
  padding: 0rem 5rem;

  .footerTop {
    display: flex;
    flex-direction: column;
    align-items: justify;
    text-align: center;
    margin: 0px 90px 20px 0px;
    width: 20%;

    .logo {
      margin-bottom: 10px;
    }

    .tagline {
      font-size: 1 rem;
      font-weight: 400;
      color: #71717a;
      text-align: justify;
    }

    .socialIcons {
      display: flex;
      gap: 10px;
      margin-top: 10px;

      a {
        display: flex;
        justify-content: center;
        width: 40px;
        height: 40px;
        align-items: center;
        background-color: #f4f4f5;
        border-radius: 50%;
        color: var(--text-tertiary);
      }
    }
  }

  .footerContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin: 32px 0px;

    .footerSection {
      flex: 1;
      min-width: 150px;
      margin: 0 1rem;

      h4 {
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        color: #09090b;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 0.5rem;

          a {
            text-decoration: none;
            font-size: 1rem;
            font-weight: 400;
            color: #71717a;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .footerBottom {
    display: flex;
    justify-content: space-between;
    margin: 32px 80px;
    text-align: center;
    border-top: 1px solid #e4e4e7;
    padding-top: 1rem;

    p {
      margin: 0;
      font-size: 0.9rem;
      color: #666;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 0px;

      li {
        display: inline;
        margin: 0;

        a {
          text-decoration: none;
          color: #71717a;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
  }

  .footerSection {
    text-align: center;
  }
}
