.sign-in-button {
  width: 100%;
  padding: 10px 14px;
  background-color: #175675 !important;
  margin-bottom: 8px;
  color: white !important;
  border: none !important;
  border-radius: 360px;
  font-size: 1rem;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #134d66 !important;
  }

  .cancel-button {
    height: 44px important;
  }
}
