.main-container {
  height: calc(73vh - 92px);
}

.save-btn {
  width: 100px !important;
  height: 44px !important;
}

.custom-input .ant-input-outlined:focus-within {
  border: 1px solid #1677ff !important;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1) !important;
}

.custom-phone-input {
  width: 100%;
}

.phone-input-container {
  width: 100% !important;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  transition: all 0.3s;
}

.phone-input-container:hover {
  border-color: #4096ff;
}

.phone-input {
  width: 100% !important;
  height: 32px !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  padding-left: 50px !important;
}

.phone-input-button {
  background: transparent !important;
  border: none !important;
  border-right: 1px solid #d9d9d9 !important;
  border-radius: 6px 0 0 6px !important;
  // padding: 0 8px 0 12px !important;
}

.phone-input-button:hover {
  background: #f5f5f5 !important;
}

.phone-input-dropdown {
  z-index: 1050 !important;
}

.profile-image-container {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;

    .edit-icon {
      color: white;
      width: 24px;
      height: 24px;
    }
  }

  &:hover .profile-image-overlay {
    opacity: 1;
  }
}

.hidden-file-input {
  display: none;
}
