.ant-dropdown {
  font-family: unset !important;

  ul {
    padding: 4px !important;
    li {
      margin-bottom: 4px !important;
    }
  }
  :last-child {
    margin-bottom: unset !important;
  }
  .ant-dropdown-menu {
    border-radius: 6px !important;
    padding: 4px !important;
    border: 1px solid var(--neutral-color-200) !important;
    li:not(:first-child):not(:last-child) {
      margin-bottom: 4px !important;
    }
    .ant-dropdown-menu-item {
      padding: 6px 8px !important;
      border-radius: 4px !important;
      font-size: 14px !important;
      line-height: 20px !important;
      font-weight: 400 !important;
      &:hover {
        background-color: var(--neutral-color-100) !important;
      }
    }
  }
}
