.ant-menu {
  border: none;
  font-size: 15px;
  font-weight: 500;
  text-align: start;
  border-radius: 10px;
  color: #3f3f46;

  .ant-menu-item {
    padding: 10px !important;
    color: #3f3f46;
    margin: 0;
    margin-bottom: 4px;

    &.ant-menu-item-selected {
      background-color: var(--brand-color-50) !important;
      width: calc(100% - 10px) !important;
      color: var(--brand-color-600) !important;
      font-weight: 500;
      font-size: 15px;
      border-radius: 0px;
    }

    &[data='terms'] {
      &.ant-menu-item-selected {
        background-color: var(--brand-color-800) !important;
        color: var(--neutral-color-50) !important;
      }
    }
  }

  .ant-menu-submenu {
    .ant-menu-submenu-title {
      color: var(--side-nav-text);
      padding: 10px !important;
      margin: 0;

      &:hover {
        color: var(--side-nav-text-hover) !important;
      }
    }

    &.ant-menu-submenu-active {
      .ant-menu-submenu-title {
        color: var(--brand-color-600);
        background-color: var(--side-nav-background) !important;
      }
    }

    .ant-menu-sub {
      margin-top: 10px;
      background: transparent !important;
      margin-left: 35px !important;

      .ant-menu-item-content {
        &:hover {
          background-color: var(--side-nav-text-hover) !important;
          color: var(--side-nav-text-selected);
        }

        &.ant-menu-item-selected {
          background-color: var(--side-nav-selected) !important;
        }
      }
    }
  }
}
