.ant-picker {
  padding: 12px !important;
  border: 1px solid var(--border) !important;
  border-radius: 6px !important;
  color: var(--text-secondary) !important;
  box-shadow: none !important;
  margin: 0;
  width: 250px !important;

  &:hover {
    color: var(--neutral-color-700) !important;
    border-color: var(--border) !important;
  }

  .ant-picker-input > input,
  .ant-picker-range-separator > span,
  .ant-picker-suffix .anticon,
  .ant-picker-active-bar {
    font-size: 14px;
    line-height: 20px !important;
    font-weight: 400;
    color: var(--text-secondary) !important;
    cursor: pointer;
  }

  .ant-picker-active-bar {
    display: none;
  }

  .ant-picker-outline:focus-within {
    border: 1px solid var(--border) !important;
  }

  .ant-picker-input > input::placeholder {
    font-size: 14px;
    color: var(--text-secondary) !important;
    padding: 0;
    font-weight: 500;
    text-align: center;
  }
}

.ant-picker-range .ant-picker-range-separator {
  color: var(--text-secondary) !important;
  padding-bottom: 4px !important;
}
