.ant-collapse {
  display: flex;
  flex-direction: row-reverse;
  background-color: transparent !important;
  border: none !important;

  .ant-collapse-item {
    .ant-collapse-item-content {
      .ant-collapse-content-box {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.25rem;
        padding: 16px 0 !important;
      }
    }
  }

  .ant-collapse-header {
    color: var(--text-primary) !important;
    font-size: 14px;
    font-weight: 600;
  }

  .ant-collapse-content-box {
    padding: 12px 0 !important;
  }

  .ant-collapse-header {
    padding: 20px 0 !important;
  }
}
