/* DEFAULT BUTTON HEIGHT */
.ant-btn {
  height: 40px !important;
  font-size: 14px !important;
  padding: 12px 16px !important;
  border-radius: 6px !important;
}

/* PRIMARY BUTTON */
.ant-btn-primary {
  background-color: var(--brand-color-800) !important;
  border-color: var(--brand-color-800) !important;
  color: var(--neutral-color-50) !important;
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: var(--brand-color-900) !important;
    border-color: var(--brand-color-900) !important;
    color: var(--neutral-color-50) !important;
  }

  &:disabled,
  &.ant-btn-disabled {
    background-color: var(--brand-color-800) !important;
    border-color: var(--brand-color-800) !important;
    color: var(--neutral-color-50) !important;
    opacity: 0.5 !important;
    cursor: not-allowed !important;
  }
}

/* SECONDARY - AntD Default Button */
.ant-btn-default {
  background-color: var(--neutral-color-900) !important;
  border-color: var(--neutral-color-900) !important;
  color: var(--neutral-color-100) !important;
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: var(--neutral-color-700) !important;
    border-color: var(--neutral-color-700) !important;
    color: var(--neutral-color-100) !important;
  }

  &:disabled,
  &.ant-btn-disabled {
    background-color: var(--neutral-color-900) !important;
    border-color: var(--neutral-color-900) !important;
    color: var(--neutral-color-100) !important;
    opacity: 0.5 !important;
    cursor: not-allowed !important;
  }
}

/* ERROR / DANGER BUTTON */
.ant-btn-dangerous {
  background-color: var(--red-color-500) !important;
  border-color: var(--red-color-500) !important;
  color: var(--neutral-color-50) !important;
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: var(--red-color-600) !important;
    border-color: var(--red-color-600) !important;
    color: var(--neutral-color-50) !important;
  }

  &:disabled,
  &.ant-btn-disabled {
    background-color: var(--red-color-500) !important;
    border-color: var(--red-color-500) !important;
    color: var(--neutral-color-50) !important;
    opacity: 0.5 !important;
    cursor: not-allowed !important;
  }
}

/* OUTLINE BUTTON */
.ant-btn-default.ant-btn-outlined {
  background-color: transparent !important;
  border-color: var(--brand-color-800) !important;
  color: var(--brand-color-800) !important;
  font-weight: 500;

  &.upload-button {
    border-color: var(--brand-color-600) !important;
    color: var(--brand-color-600) !important;

    &:hover,
    &:focus {
      background-color: var(--brand-color-50) !important;
      border-color: var(--brand-color-600) !important;
      color: var(--brand-color-800) !important;
    }
  }

  &:hover,
  &:focus {
    background-color: var(--brand-color-50) !important;
    border-color: var(--brand-color-900) !important;
    color: var(--brand-color-800) !important;
  }

  &:disabled,
  &.ant-btn-disabled {
    background-color: transparent !important;
    border-color: var(--brand-color-800) !important;
    color: var(--brand-color-800) !important;
    opacity: 0.5 !important;
    cursor: not-allowed !important;
  }
}

/* TEXT BUTTON */
.ant-btn-text {
  background-color: transparent !important;
  color: var(--brand-color-800) !important;
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: var(--brand-color-50) !important;
    color: var(--brand-color-800) !important;
  }

  &:disabled,
  &.ant-btn-disabled {
    background-color: transparent !important;
    color: var(--brand-color-800) !important;
    opacity: 0.5 !important;
    cursor: not-allowed !important;
  }
}

/* LARGE BUTTON SUPPORT */
.ant-btn-lg {
  height: 44px !important;
  font-size: 14px !important;
  padding: 8px 16px !important;
  border-radius: 2px;
}

.ant-btn-text.actions {
  border-radius: 100px !important;
  padding: 8px !important;

  &:hover,
  &:focus {
    background-color: var(--black-color-400) !important;
  }
}
