.ant-steps-vertical.ant-steps-small {
  .ant-steps-item {
    .ant-steps-item-container {
      .ant-steps-item-icon {
        width: 24px;
        height: 24px;
        font-size: 12px;
        background-color: #f0f0f0;
        border-color: #d9d9d9;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .ant-steps-item-content {
        margin-left: 12px;

        .ant-steps-item-title {
          font-size: 14px;
          color: #333;
          font-weight: 500;
        }

        .ant-steps-item-description {
          font-size: 12px;
          color: #666;
        }
      }
    }

    &.ant-steps-item-active .ant-steps-item-icon {
      background-color: var(--brand-color-600) !important;
      border: none;
      color: #fff;
    }

    &.ant-steps-item-finish .ant-steps-item-icon {
      background-color: var(--brand-color-50) !important;
      border-color: var(--brand-color-600) !important;
      color: var(--brand-color-600) !important;
    }
  }

  .ant-steps-item:last-child {
    margin-bottom: 0;
  }
}
