.ant-input-affix-wrapper {
  display: flex;
  align-items: center;
  padding: 12px 14px !important;
  border-color: var(--stroke-primary) !important;
  line-height: unset !important;
  height: 44px !important;

  .ant-input-affix-wrapper-focused {
    background-color: unset !important;
  }

  .ant-input-prefix {
    width: 16px;
    height: 16px;
    color: var(--input-icon-default);
  }

  input::placeholder {
    color: var(--neutral-color-400) !important;
  }

  .ant-input {
    font-size: 14px !important;
    font-weight: 400;
    line-height: 18px;
    color: var(--neutral-color-950) !important;
  }

  .ant-input-outlined {
    height: 44px !important;
    background-color: transparent !important;
  }

  .ant-input-suffix {
    width: 16px;
    height: 16px;
    color: var(--input-icon-default);
  }
}

.ant-input-affix-wrapper-focused {
  background-color: var(--neutral-color-100) !important;
}

.custom-input .ant-input-outlined:focus-within {
  border: 1px solid #1677ff !important;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1) !important;
}

.price-input .ant-input {
  text-align: center !important;
}

.square-input .ant-input-affix-wrapper {
  border-radius: 6px !important;
}

.custom-input-blue .ant-input-affix-wrapper:focus-within {
  border: 1px solid #1677ff !important;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1) !important;
}
