.ant-select-single {
  height: 44px !important;
}

.ant-select-dropdown {
  margin-top: 24px !important;
  border-radius: 2px !important;
  border: 1px solid #e4e4e7 !important;
  z-index: 9 !important;

  .ant-select-item-option-content {
    white-space: normal !important;
  }
}

.ant-select-item {
  .ant-select-item-option {
    .ant-select-item-option-active {
      background-color: val(--brand-color-50) !important;
    }
  }
}

.ant-picker-dropdown {
  z-index: 9 !important;
}

.ant-select-selection-placeholder {
  color: #3f3f46 !important;
}

.category-select .ant-select-selector {
  width: 200px !important;
}
