.mobile-view-header-container .m-signin-btn {
  border-radius: 360px !important;
}

.mobile-search-drawer-container .ant-drawer-body {
  padding: 0px !important;
}

.mobile-search-drawer-container section {
  padding: 10px 16px;
}
