.wallet-container {
  display: flex;
  width: 100%;
  height: 111px;
  padding: 20px;
  background-color: var(--brand-color-50);
  margin-bottom: 32px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
}

.name-fields {
  display: flex;
  flex-direction: column;
  width: 100%;

  .ant-row {
    width: 100%;
  }
}

.login-switch {
  font-size: 14px;
  margin-bottom: 10px;

  span {
    color: var(--brand-color-600);
    cursor: pointer;
  }
}

.btn-width {
  width: 133px;
}

.custom-card .ant-card-body {
  padding: 0 !important;
}

.kyc-chip {
  height: 20px !important;
  text-transform: uppercase;
}
