.collection-collapse-container .ant-collapse {
  display: block !important;
}

.collection-collapse-container .ant-collapse-item .ant-collapse-content {
  border-top: none !important;
}

.collections-container {
  margin: auto;
  width: 78%;
}

.collection-collapse-container .ant-collapse .ant-collapse-header {
  padding: 12px 0px !important;
}

.collection-filter-button {
  background-color: white !important;
  color: black !important;
  border: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
  height: 44px !important;
  margin: 0px !important;
}

.collection-inactive-badge .ant-badge-count {
  background-color: #f4f4f5 !important;
  color: #71717a !important;
  margin-left: 1.5px;
}

.collection-active-badge .ant-badge-count {
  background-color: #175675 !important;
  color: white !important;
  margin-left: 1.5px;
}

.collection-grid-view-container .collection-grid-item-container span {
  color: #a1a1aa !important;
}

.collection-view-container .token-view-popup {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}

.grid-view-img {
  width: 100% !important;
}

.collections-tags-container .ant-tag .ant-tag-close-icon {
  font-size: 14px !important;
  position: relative !important;
  top: 1.5px !important;
  margin-left: 10px !important;
}

.collection-collapse-container .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--brand-color-800) !important;
  color: var(--brand-color-800) !important;
}

.collection-collapse-container .ant-checkbox-checked .ant-checkbox-inner:hover {
  border-color: var(--brand-color-800) !important;
}

.collection-pagination-container .ant-pagination {
  align-items: center !important;
}

.collection-pagination-container .ant-pagination .ant-pagination-item-active {
  border-color: var(--brand-color-600);
}

.collection-pagination-container .ant-pagination .ant-pagination-item-active a {
  color: var(--brand-color-600);
}

.collection-view-container .ant-table-container {
  border: none !important;
}

.collection-view-container .ant-table-wrapper .ant-table-thead > tr > th {
  background-color: white !important;
}

.collection-view-container .ant-table-wrapper .ant-table-thead > tr > th::before {
  background-color: white !important;
}

.categories {
  width: 100% !important;
  padding: 12px !important;
}

.categories:hover {
  background-color: var(--background-secondary) !important;
}
